<div class="main">
    <article>
        <div class="chat-input">
            <input type="text" name="displayName" [(ngModel)]="message.displayName" #displayNameControl="ngModel"
                class="form-control" placeholder="Display Name">
            <input type="text" name="messageText" [(ngModel)]="message.text" #chatMessageControl="ngModel"
                class="form-control" (keydown)="handleChatKeydown($event)" placeholder="Chat Message">
        </div>
        <br />
        <div *ngFor="let msg of thread" class="card">
            <div class="header"> <!-- not card-header because we do not want that behavior -->
                <div class="card-title">{{msg.displayName}}</div>
                <i>{{getDateString(msg.dateCreated)}}</i>
            </div>
            <div class="card-body">
                <div class="card-text">
                    {{msg.text}}<br />
                </div>
            </div>
        </div>
    </article>
    <aside>
        <button class="btn btn-success" (click)="sendMessage()">Send</button>&nbsp;<button class="btn btn-danger" (click)="clearMessages()">Clear</button>
        <div class="card" *ngIf="peers.length > 0">
            <div class="card-header">
                Peers Online
            </div>
            <div class="card-body">
                <div *ngFor="let peer of peers">
                    <i class="fa fa-user fa-fw" [class.active]="peer.status=='Active'" [class.inactive]="peer.status=='Inactive'" [class.offline]="peer.status=='Offline'"></i>&nbsp;{{peer.name}}
                </div>
            </div>
        </div>
    </aside>
</div>