.active {
  color: green;
}
.inactive {
  color: orange;
}
.offline {
  color: red;
}
article .card {
  margin-top: 5px;
  margin-left: 5px;
}
aside .card {
  margin-top: 5px;
}
aside .card-header {
  padding:  0 10px 0 10px;
}
.card-body {
  padding-bottom: 5px;
  padding-top: 5px;
}
.header {
  align-items: center;
  display: grid;
  grid-template-columns: auto 80px;
  padding:  0 10px 0 10px;
}
.card-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}
.chat-input {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px auto;
}
.main {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  max-width: 700px;
  padding: 10px;
  margin: auto;
}