@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

/*
Try and keep global SCSS and CSS to a minimum and mainly to global variables.  This prevents components from breaking when used in other projects
*/
:root {
    --nav-padding-top: 61px;
}
body {
    font-size: 15px;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.0em; }

.w-20 { width: 20%!important; }
.w-30 { width: 30%!important; }
.w-40 { width: 40%!important; }
.w-45 { width: 45%!important; }
.w-60 { width: 60%!important; }
.w-70 { width: 70%!important; }

.card-header:hover {
    background-color: rgb(164, 180, 223);  
}
.active > .card-header {
    background-color: rgb(164, 180, 223);
}
.clickable:hover {
    cursor: pointer;
}
.toast-container {
    padding-top: var(--nav-padding-top);
    padding-left: 3px;
    padding-right: 3px;
}
.toast-header {
    background-color: cadetblue;
    color: white;
}
